### Assignment 04

In [9]:
# Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple", "banana", "cherry"), [7, 8, 9] )
# Print all elements from my_tuple on a new line (using for loop)
# Create a new tuple by concatenating the first and last elements of my_tuple

my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple", "banana", "cherry"), [7, 8, 9] )

for key in my_tuple:
    print(key);

newTuple = my_tuple[0] + tuple(my_tuple[-1]);

print("New Tuple: ", newTuple);

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
New Tuple:  (1, 2, 3, 7, 8, 9)

In [61]:
# Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
# 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
# Add a new book in inventory using method and get all book titles using method
# Remove a book if it's out of stock

inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
inventory.update({"Programming Is Easy": {"price": 5.99, "quantity": 10}});
allBooksTitles = list(inventory.keys());

for bookTitle in allBooksTitles:
    print(bookTitle);


bookOutOfStock = [key for key, value in inventory.items() if value["quantity"] == 0]

for book in bookOutOfStock:
    inventory.pop(book)

print(inventory);

The Great Gatsby
Rich dad poor dad
Harry Potter
Programming Is Easy
{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'Programming Is Easy': {'price': 5.99, 'quantity': 10}}

In [65]:
# Q3. An ecommerce store stores information about its products in a nested dictionary. The outer
# dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
# category, price, and stock quantity.
# products = { 101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102:
# {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 200}, 103: {'name': 'Coffee Maker',
# 'category': 'Home Appliances', 'price': 80, 'stock': 30} }
# • Increase the stock of the 'Shirt' product (add 50 more units)
# • Add a new product (e.g., 'Smartphone')

products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30},
};

products[102]['stock'] += 50;

newProductId = 104;
products[newProductId] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 349,
    "stock": 60,
}
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'Smartphone',
  'category': 'Electronics',
  'price': 349,
  'stock': 60}}

In [67]:
# Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
# list to a set.
# shopping_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'grape']

shopping_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'grape']

shoppingListConvertedToSet = set(shopping_list);

print(shoppingListConvertedToSet);

{'apple', 'banana', 'grape', 'orange'}

In [73]:
# Q5. You are managing a list of students enrolled in two different courses. You need to perform
# various set operations to understand the student enrollment. Task: Create two sets: one for students
# in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in
# "Course B" (difference). Find students who are only in one of the two courses (symmetric
# difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie",
# "David"}
# • Find students who are in Course A but not in Course B (difference)
# • Find students who are only in one of the two courses (symmetric difference)

courseA = {"Albert", "Smith", "Joseph", "Cummins"};
courseB = {"Trot", "Albert", "Cummins", "Maxwell"};

studentInCourseA = courseA - courseB;
singleRegisteredStudentInBothCourses = courseA ^ courseB;

print("Student registered in Course A",studentInCourseA);
print("Student registered in Single Course Only",singleRegisteredStudentInBothCourses);

Student registered in Course A {'Smith', 'Joseph'}
Student registered in Single Course Only {'Maxwell', 'Trot', 'Smith', 'Joseph'}

In [77]:
# Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
# (inclusive) using a for loop.
# Hint
# 1. Initialize a variable to hold the sum (e.g., sum_of_evens).
# 2. Use a for loop to iterate through all numbers from 1 to 50.
# 3. Inside the loop, check if the number is even.
# 4. If the number is even, add it to sum_of_evens.
# 5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

sum_of_evens = 0;

for i in range(1,51):
    if i % 2 == 0 :
        sum_of_evens += i;

print("Sum of even numbers", sum_of_evens);

Sum of even numbers 600

In [83]:
# Write a Python program that prints the multiplication table for a given number (between 1 and
# 10) using a for loop.

# Hint:
# 1. Ask the user for a number between 1 and 10 .
# 2. Use a for loop to iterate through the numbers from 1 to 10.
# 3. For each iteration, calculate the product of the given number and the current number in the
# loop.
# 4. Print the result in a readable format (e.g., 5 x 1 = 5).
# 5. Ensure the program works correctly for any number between 1 and 10.

userInput = int(input("Please enter a number to generate its table"));

for i in range (1, 11):
    print(f"{userInput} x {i} = {userInput * i}");

Please enter a number to generate its table 3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [87]:
# Power of a Number
# Write a Python program that takes a number and prints the powers of the number (starting from 1
# to 10) using a while loop. For example, if the user inputs 3, the output should be:
# 3^1 = 3
# 3^2 = 9
# 3^3 = 27
# ... up to 3^10.

userInput = int(input("Please enter a number to generate its table"));

for i in range (1, 11):
    print(f"{userInput} ^ {i} = {userInput ** i}");

Please enter a number to generate its table 3

3 ^ 1 = 3
3 ^ 2 = 9
3 ^ 3 = 27
3 ^ 4 = 81
3 ^ 5 = 243
3 ^ 6 = 729
3 ^ 7 = 2187
3 ^ 8 = 6561
3 ^ 9 = 19683
3 ^ 10 = 59049

In [97]:
# Problem Statement: Write a Python program that takes an integer input from the user and
# counts down from that number to 0. The program should display the current number at each step
# until it reaches 0, at which point it should print a message indicating the countdown is finished
# Output Hint:
# Enter a number to start the countdown: 3
# 3
# 2
# 1
# 0
# Countdown finished!

userInput = int(input("Please enter a number to generate its table"));

for i in range(userInput + 1):
    print(userInput - i);

print("Countdown finished!");

Please enter a number to generate its table 4

4
3
2
1
0
Countdown finished!

In [99]:
# Write a Python program that takes an integer input n from the user and generates a right-
# angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2
# stars, the third row 3 stars, and so on until the nth row.
# Ensure the stars in each row are separated by spaces, and each row starts on a new line.
# # Pattern:
# *
# **
# ***
# ****
# *****

userInput = int(input("Please enter a number to generate its table"));

for i in range(userInput + 1):
    print("*" * i);

Please enter a number to generate its table 3

*
**
***