In [21]:
import pandas as pd

file_name = "compensation data.csv"
dataset = pd.read_csv(file_name)

dataset.iloc[:, 0] = pd.to_numeric(dataset.iloc[:, 0], errors='coerce')

dataset.iloc[:, 1:4] = dataset.iloc[:, 1:4].replace({'TRUE': True, 'FALSE': False})

dataset.iloc[:, 4] = dataset.iloc[:, 4].replace('None', '')

dataset.iloc[:, 5] = dataset.iloc[:, 5].astype(str) 
dataset.iloc[:, 5] = dataset.iloc[:, 5].str.replace(r'[^\d.]', '', regex=True)  
dataset.iloc[:, 5] = pd.to_numeric(dataset.iloc[:, 5], errors='coerce')  

dataset = dataset.dropna(subset=[dataset.columns[0], dataset.columns[5]])

python_user = dataset.iloc[:, 1].sum()
r_user = dataset.iloc[:, 2].sum()
sql_user = dataset.iloc[:, 3].sum()

print("Python Users:", python_user)
print("R Users:", r_user)
print("SQL Users:", sql_user)

experience = dataset.iloc[:, 0].tolist()
compensation = dataset.iloc[:, 5].tolist()

print("Experience:", min(experience), max(experience), sum(experience) / len(experience))
print("Compensation:", min(compensation), max(compensation), sum(compensation) / len(compensation))

def experience_check(years):
    if years < 5:
        return "< 5 Years"
    elif years < 10:
        return "5-10 Years"
    elif years < 15:
        return "10-15 Years"
    elif years < 20:
        return "15-20 Years"
    elif years < 25:
        return "20-25 Years"
    else:
        return "25+ Years"

dataset['categories'] = dataset.iloc[:, 0].apply(experience_check)

avg_compensation = dataset.groupby('categories')[dataset.columns[5]].mean()
print(avg_compensation)

dataset.to_csv("updated_file.csv", index=False)

Python Users: 21860
R Users: 5335
SQL Users: 10757
Experience: 0.0 30.0 5.297231740653756
Compensation: 0 1492951 53252.81696377007
categories
10-15 Years     80226.755814
15-20 Years     75101.826941
20-25 Years    103159.804324
25+ Years       90444.985122
5-10 Years      59312.820335
< 5 Years       45047.874847
Name: compensation, dtype: object

/var/folders/ls/f1w1__t136n76kp7mqywc6400000gn/T/ipykernel_5948/1213776468.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        124267
1        236889
2         74321
3         62593
4         36288
          ...
25968     15800
25969     62456
25970       923
25971     60609
25972       493
Name: compensation, Length: 25973, dtype: object' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.iloc[:, 5] = dataset.iloc[:, 5].astype(str)  # Convert everything to string first